.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.incident_list {
    display: grid;
    justify-content: center;
}

.incident_list ul {
    list-style: none;
    padding: 5px;
}

.incident_list li {
    padding-left: 10px;
    border-left: solid 5px;
}

.incident_list .low {
    border-left-color: yellow;
}
.incident_list .medium {
    border-left-color: orange;
}
.incident_list .high {
    border-left-color: red;
}

.new_incident {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.new_incident form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}